.tableWrapper
{
    width: clamp(300px, 90%, 1000px);
    margin: auto;
    font-size: var(--font-size-small);
}
.searchBar 
{
    display: flex;
    width: clamp(300px, 100%, 1000px);
    margin: auto;
}

.searchBar input
{
    width: 100%;
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    margin-right: 1rem;
    font-size: var(--font-size-small);
}
